html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* -- Baseline Elements --*/
body {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  line-height: 1.5;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

h3 {
  margin-bottom: 1rem;
}

p {
  font-family: georgia;
  line-height: 1.75;
}

.img-left {
  float: left;
  margin-top: 0.5rem;
  margin-right: 1.25rem;
}

.wrapper {
  max-width: 960px;
  padding: 2%;
  margin: 0 auto;
}

/* -- Header -- */
.banner {
  background: url(../img/main-banner.jpg);
  background-position: 50% 50%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  padding: 12rem 0;
}

.sub-banner {
  background: url(../img/banner-2.jpg);
  background-position: 50% 50%;
  font-size: 1.15rem;
  padding: 4rem 0;
}

/* -- Grid -- */
.col-container {
  margin: 3rem 0;
}

.col-2 {
  margin: 3rem 0;
}

@media screen and (min-width: 600px) {
  .col-2 {
    float: left;
    margin: 0 0 0 6%;
    /* -- 47 + 47 = 94% -- */
    width: 47%;
  }

  .col-2:first-child {
    margin-left: 0;
  }
}
/* -- Feature Article -- */
/* -- Sub Articles --*/
/* -- Footer -- */
.footer {
  background: #111;
  text-align: center;
  color: #fff;
}
